@import "tailwindcss";

body {
  font-family: "Merienda, cursive";
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border: 1px solid transparent;
  padding: 0.3em 1.2em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  color: black;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sombra {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.4)); /* Sombra difusa */
}

.sombra-abajo {
  filter: drop-shadow(0px 40px 15px rgba(0, 0, 0, 0.4)); /* Sombra difusa */
}

.gato-grande {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 1)); /* Sombra difusa */
  /* opacity: 0.9; Un poquito de transparencia */
  mix-blend-mode: multiply;
  z-index: 30;
}

.sombra-texto {
  text-shadow: 2px 2px 2px black;
}

.sombra-texto-claro {
  text-shadow: 1px 1px 1px #f8f3d9;
}

@theme{
  --color-primary: #504b38;
  --color-secondary: #f8f3d9;
  --color-fondo: #ebe5c2;
}
